<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />

    <title>Wildboard :: Home</title>
</head>
<body>
    <header class="header">
        <h1 class="header__h1">Sersebas08</h1>
        <nav class="nav">
            <img class="nav__img" src="../img/logo-wild.png" alt="img prueba" >
        </nav>
    </header>

    <section class="datos">
        <h2 class="datos__h2">Wildboard</h2>
        <picture class="figure w-100">
            <source media="(min-width: 30.05em)" srcset="../img/00001.jpg">
            <source media="(min-width: 25.05em)" srcset="../img/00002.jpg">
            <source media="(min-width: 14.25em)" srcset="../img/00002.jpg">
            <img src="../img/00001.jpg" alt="skiador con su tabla en los hombros" class="img-fluid figure-img">
        </picture>
        <!--<div class="divImg">
           <img class="divImg__img" src="../img/00001.jpg" alt="">
        </div>-->
        <p class="datos__parrafo">Servicio Tecnico</p>
        <p class="datos__tecnico">En Wildboard contamos con un equipo especialista en reparación y mantención de equipos deportivos de alto rendimiento, trabajamos con los mejores productos que garanticen el optimo funcionamiento de las piezas o equipo para mantener seguros a los distintos deportistas.
            Importamos productos de las mejores marcas para pequeños y grandes talleres o simplemente para quienes quieren reparar sus equipos en la comodidad de su hogar. </p>
        <div class="datos__descripcion">
            <h3 class="datos__descripcion__h3">Algunos Servicios</h3>
            <p><span class="pr-2"><img src="../img/icono-st-1.png" alt=""></span>Reparación y mantención de Ski y Snowboard</p>
            <p><span class="pr-2"><img src="../img/icono-st-2.png" alt=""></span>Deformación de botas y plantillas a medida</p>
            <p><span class="pr-2"><img src="../img/icono-st-3.png" alt=""></span>Venta de artículos de taller al por mayor y al detalle para reparación de equipos de ski/snowboard</p>
        </div>
        <div class="divConsulta">
            <!--<h4 class="divConsulta__h4">Cotiza aquí la reparación y/o mantención de tu equipo</h4>-->
            <h4 class="divConsulta__h4">Clientes que pasaron por nuestros talleres dejaron sus comentarios</h4>
            <a href="/comentarios" class="btn btn-info text-decoration-none w-50 mt-4">Comentarios</a>
        </div>

    </section>
    <footer class="footer">
        <div class="footerDiv">
            <ul class="footerDiv__ul">
                <li>Carrera: Diseño Web</li>
                <li>Institucion: Escuela Davinci</li>
                <li>Docente: Brian Lara</li>
                <li>Alumno: Servente Sebastian</li>
            </ul>
        </div>
    </footer>
</body>
</html>